<template>
  <v-app-bar color="#1A0D00">
    <v-img class="mx-5"
      src="https://cdn.discordapp.com/attachments/746351727867068437/1061712209782251630/image-removebg-preview.png"
      max-height="60" max-width="60"></v-img>
    <v-app-bar-title class="title-color">D-COFFEE</v-app-bar-title>
    <template v-slot:append>
      <v-card>
        <v-list-item prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg" title="Sandra Adams"
          subtitle="sandra_a88@gmailcom"></v-list-item>
      </v-card>
    </template>
  </v-app-bar>
</template>

<style>
.title-color {
  color: white;
  font-family: Garamond;
  font-weight: bold;
  font-size: 28px;
}
</style>