<script setup lang="ts">
import { useOrderStore } from "@/stores/Order";
import { useUserStore } from "@/stores/User";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const OrderStore = useOrderStore();
const UserStore = useUserStore();
const form = ref<InstanceType<typeof VForm> | null>(null);
const reset = () => {
  form.value?.reset();
};
</script>
<template>
  <v-dialog
    v-model="OrderStore.dialog"
    transition="dialog-bottom-transition"
    width="60vh"
    scrollStrategy="close"
  >
    <v-card>
      <v-toolbar color="brown-darken-4" title="Payment"></v-toolbar>
      <v-container>
        <v-row>
          <v-col cols="2">
            <v-switch
              class="ml-2"
              v-model="OrderStore.model"
              hide-details
              inset
              color="green-darken-4"
            ></v-switch>
          </v-col>
          <v-col cols="">
            <v-form ref="form">
            <v-autocomplete 
              
              :disabled="!OrderStore.model"
              variant="outlined"
              :items="UserStore.User"
              item-title="id"
              label="Member"
              placeholder="Select..."
              required
              :rules="[v => !!v || 'Item is required']"
            ></v-autocomplete>
          </v-form>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12 "
            ><v-form ref="form"><v-text-field label="Received" variant="outlined"></v-text-field
          ></v-form></v-col>
        </v-row>
      </v-container>
      <v-card-actions class="justify-end">
        <v-btn variant="text" @Click="OrderStore.dialog = false,reset">Close</v-btn>
        <v-btn @Click="OrderStore.submitOrder(OrderStore.member)">Done</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
