<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();


const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    authStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};

</script>

<template>
  <v-layout class="bg-img">
    <v-main style="padding-top: 80px; ">
      <v-card width="900px" height="550px" class="mx-auto elementFix" color="#f7f6f6" style="opacity:87%;">
        <v-row>
          <v-col>
            <h1 class="textH2">WELCOME TO</h1>
            <h1 class="textH3">D - COFFEE WEBSITE</h1>

            <v-img
              src="https://media.discordapp.net/attachments/896296119095660576/1080784013326831626/kisspng-white-coffee-instant-coffee-cafe-cartoon-vector-splash-of-coffee-png-5aa0a7ffacefd7.4745315915204782077084-removebg.png?width=634&height=676"
              width="380px" class="justify-center mx-auto "></v-img>
          </v-col>
          <v-col>
            <v-card-title primary-title class="textH1" style="padding-top: 100px;">
              Login
            </v-card-title>

            <v-card-text style="padding-top: 50px;">
              <h4 class="textH5" style="padding-left: 23px;">Email</h4>
              <v-form ref="form" v-model="valid">

                <v-text-field variant="solo" label="Email" v-model="loginName" :rules="[
                  (v) => !!v || 'Email is required',
                  (v) =>
                    /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                    'Email is not valid!!',
                ]" required class="textfield"></v-text-field>
                <h4 class="textH5" style="padding-left: 23px;">Password</h4>
                <v-text-field variant="solo" label="Password" type="password" v-model="password" :rules="[
                  (v) => !!v || 'Password is required',
                  (v) =>
                    v.length >= 8 ||
                    'Password must be more than or equal 8 characters',
                ]" required class="textfield"></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions class="justify-center" style="padding: 40px; padding-top: 35px;">
              <v-btn class="bt1 text-white font-weight-bold textH4" color="#3C2A21" height="55px"
                @click="login" variant="elevated" block>Login</v-btn>
            </v-card-actions>
          </v-col>
        </v-row>

      </v-card>
    </v-main>
  </v-layout>
</template>

<style scoped>
.bg-img {
  background: url(https://cdn.discordapp.com/attachments/896296119095660576/1080722760050954341/coffeeBG.jpg.webp);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.elementFix {
  border-radius: 60px 60px 60px 60px;


}

.bt1 {
  border-radius: 15px 15px 15px 15px
}

.textfield {
  padding-left: 20px;
  padding-right: 20px;

}

.textH1 {
  color: #3C2A21;
  font-family: 'Franklin Gothic Medium';
  font-weight: 400;
  font-size: 45px;
  text-align: center;
}

.textH2 {
  color: #4d4c4c;
  font-family: 'Franklin Gothic Medium';
  font-weight: 600;
  font-size: 28px;
  text-align: left;
  padding-left: 50px;
  padding-top: 30px;
}

.textH3 {
  color: #232323;
  font-family: 'Franklin Gothic Medium';
  font-weight: 600;
  font-size: 38px;
  text-align: left;
  padding-left: 50px;

}

.textH4 {
  color: #f7f6f6;
  font-size: 18px;
  text-align: center;
}

.textH5 {
  font-family: 'Franklin Gothic Medium';
  color: #383535;
  padding: 5px;
}
</style>