<script lang="ts" setup>
import { ref } from 'vue';

</script>
<template>
    <v-layout style="height: 100vh; width: 100vw;" class="bg-img">
        <v-container class="bg-surface-variant">

            <v-row>
                <h1 class="text-head">Dashboard</h1>
            </v-row>
            <v-row col="12" sm="4">
                <v-col col="4" style="padding-top: 20px;">
                    <v-row>
                        <h4 class="text-body">ยอดขายรายวัน</h4>
                        <h2 class="text-body2">Daily sales</h2>
                    </v-row>
                    <v-row><v-card width="520px" height="250px" class="card-edit"></v-card></v-row>

                </v-col>
                <v-col col="4" style="padding-top: 20px;">
                    <v-row>
                        <h4 class="text-body">ยอดขายรายเดือน</h4>
                        <h2 class="text-body2">Monthly sales</h2>
                    </v-row>
                    <v-row>
                        <v-card width="520px" height="250px" class="card-edit"></v-card>
                    </v-row>

                </v-col>

                <v-col col="4" style="padding-top: 20px;">
                    <v-row>
                        <h4 class="text-body">ยอดขายรายปี</h4>
                        <h2 class="text-body2">Yearly sales</h2>
                    </v-row>
                    <v-row>
                        <v-card width="520px" height="250px" class="card-edit"></v-card>
                    </v-row>

                </v-col>


            </v-row>
            <v-row col="12" sm="4" style="padding-top: 0px;">
                <v-col col="4" class="card-edit2" style="padding-top: 20px;">
                    <v-card width="520px" height="480px" class="card-edit card-text1" title="สินค้าขายดี">
                        <v-container>
                            <v-row col="12" sm="6" class="justify-center">
                                <v-card v-for="i in 5" :key="i" width="230px" height="130px" class="ma-1" rounded="xl">
                                    <v-row cols="12">
                                        <v-col cols="6">
                                            <v-img
                                                src="https://media.discordapp.net/attachments/896296119095660576/1080784013326831626/kisspng-white-coffee-instant-coffee-cafe-cartoon-vector-splash-of-coffee-png-5aa0a7ffacefd7.4745315915204782077084-removebg.png?width=634&height=676"
                                                width="120px" style="padding-top: 20px;"></v-img>
                                        </v-col>
                                        <v-col cols="6">
                                            <v-card-subtitle class="card-text2 text-h6 mb-1">กาแฟ</v-card-subtitle>
                                            <v-card-subtitle class="card-text3 text-h8 mb-1">ขายได้ :</v-card-subtitle>
                                            <v-card-subtitle class="card-text4 text-h5 mb-1">45 แก้ว</v-card-subtitle>
                                        </v-col>
                                    </v-row>
                                </v-card>
                            </v-row>
                        </v-container>
                    </v-card>
                </v-col>
                <v-col col="4" class="card-edit2" style="padding-top: 20px;">
                    <v-card width="520px" height="480px" class="card-edit card-text1" title="สินค้าที่ไม่ทำรายได้">
                        <v-container>
                            <v-row col="12" sm="6" class="justify-center">
                                <v-card v-for="i in 5" :key="i" width="230px" height="130px" class="ma-1" rounded="xl">
                                    <v-row cols="12">
                                        <v-col cols="6">
                                            <v-img
                                                src="https://media.discordapp.net/attachments/896296119095660576/1080784013326831626/kisspng-white-coffee-instant-coffee-cafe-cartoon-vector-splash-of-coffee-png-5aa0a7ffacefd7.4745315915204782077084-removebg.png?width=634&height=676"
                                                width="120px" style="padding-top: 20px;"></v-img>
                                        </v-col>
                                        <v-col cols="6">
                                            <v-card-subtitle class="card-text2 text-h6 mb-1">กาแฟ</v-card-subtitle>
                                            <v-card-subtitle class="card-text3 text-h8 mb-1">ขายได้ :</v-card-subtitle>
                                            <v-card-subtitle class="card-text4 text-h5 mb-1">45 แก้ว</v-card-subtitle>
                                        </v-col>
                                    </v-row>
                                </v-card>
                            </v-row>
                        </v-container>
                    </v-card>

                </v-col>
                <v-col col="4" class="card-edit2" style="padding-top: 20px;">
                    <v-card width="520px" height="480px" class="card-edit card-text1" title="สินค้าที่ใกล้หมดสต็อก">
                        <v-table class="ma-5" fixed-header height="300px" style="padding-right: 5px;">
                            <thead class="text-h6 mb-1">
                                <tr>
                                    <th class="text-left">
                                        รหัสสินค้า
                                    </th>
                                    <th class="text-left">
                                        ชื่อสินค้า
                                    </th>
                                    <th class="text-left">
                                        คงเหลือ
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-h6 mb-1">
                                <tr>
                                    <td >P001</td>
                                    <td >เค้กนมสด</td>
                                    <td >2</td>
                                </tr>
                                <tr>
                                    <td >P002</td>
                                    <td>กาแฟสด</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>P003</td>
                                    <td>คุกกี้เนยสด</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td >P001</td>
                                    <td >เค้กนมสด</td>
                                    <td >2</td>
                                </tr>
                                <tr>
                                    <td >P002</td>
                                    <td>กาแฟสด</td>
                                    <td>3</td>
                                </tr>

                                

                            </tbody>
                        </v-table>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-layout>
</template>

<style scoped>
.bg-img {
    background-color: #ECECEC;
    height: 100vh;
    width: 100vw;
}

.text-head {
    color: #3C2A21;
    font-family: 'Arial Narrow';
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    padding-left: 5px;
    padding-top: 15px;
}

.text-body {
    color: #876445;
    text-align: left;
    padding-top: 5px;
    font-size: 25px;

}

.text-body2 {
    color: #6b6867;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;


}

.card-edit {
    border-radius: 30px 30px 30px 30px;
}

.card-edit2 {
    padding-left: 0px;
    padding-top: 15px;
}

.card-text1 {
    padding-left: 15px;
    font-size: 40px;
}

.card-text2 {
    padding-left: 0px;
    padding-top: 20px;
}

.card-text3 {
    padding-left: 0px;
    padding-top: 20px;
}

.card-text4 {
    padding-left: 0px;
    padding-top: 1px;
}
</style>




