<script setup lang="ts">
import { useOrderStore } from "@/stores/Order";
import { useProductStore } from "@/stores/Product";
import { useUserStore } from "@/stores/User";
import { computed, onMounted, ref } from "vue";
import POSPayDialog from "./Dialog/POSPayDialog.vue";
const tab = ref();
const ProductStore = useProductStore();
const OrderStore = useOrderStore();
const value = ref(0);
const UserStore = useUserStore();
onMounted(async () => {
  await ProductStore.GetProducts();
  await UserStore.GetUser();

});
</script>

<template>
  
  <!-- menu -->
  <v-card width="100%">
    <v-tabs v-model="tab" color="brown-darken-4" align-tabs="center" fixed-tabs>
      <!-- Tap menu -->
      <v-tab :value="1" class="font-weight-black"
        ><v-icon>mdi-coffee</v-icon>เครื่องดื่ม</v-tab
      >
      <v-tab :value="2" class="font-weight-black"
        ><v-icon>mdi-cupcake</v-icon>ขนม</v-tab
      >
      <v-tab :value="3" class="font-weight-black"
        ><v-icon>mdi-food</v-icon>อาหาร</v-tab
      >
    </v-tabs>
    <!-- card menu Body -->
    <v-card height="100vh" class="overflow-y-auto pa-2">
      <!-- catagory menu -->
      <v-window v-model="tab">
        <v-window-item v-for="n in 3" :key="n" :value="n">
          <v-container fluid>
            <v-row>
              <v-col
                v-for="item in ProductStore.Products"
                :key="item.id"
                cols="4"
                
              >
                <!-- on-hover card -->
                <v-hover v-slot="{ isHovering, props }">
                  <v-card
                    :elevation="isHovering ? 16 : 2"
                    v-bind="props"
                    :class="{ 'on-hover': isHovering }"
                    class="text-center mx-auto"
                    width="250px"
                    v-ripple
                    color="brown-lighten-5"
                    rounded="xl"
                    @Click="OrderStore.addOrderItem(item)"
                  >
                    <!-- img menu -->
                    <v-container>
                      <v-img
                        height="180px"
                        class="rounded-xl"
                        :src="`https://picsum.photos/500/300?image=${
                          item.price * n * 5 + 10
                        }`"
                        cover
                        lazy-src="https://i.pinimg.com/originals/a5/7b/f9/a57bf940269ffbf167f8b0c5fd50315c.gif"
                      ></v-img>
                    </v-container>
                    <!-- deteil menu -->
                    <v-container class="pt-0">
                      <p class="font-weight-bold">
                        {{ item.name }}
                      </p>
                      <p class="font-weight-medium">
                        Price : {{ item.price }} Bath
                      </p>
                    </v-container>
                  </v-card>
                </v-hover>
              </v-col>
            </v-row>
          </v-container>
        </v-window-item>
      </v-window></v-card
    >
  </v-card>
  <!-- Order -->
  <v-navigation-drawer location="right" width="600" >
    <!-- Header -->

    <v-card-text>รายการสินค้า</v-card-text>
    <v-divider></v-divider>
    <!-- OrderBody -->
    <v-card height="37vh" class="overflow-y-auto ml-3" variant="text">
      <v-row class="mx-auto">
        <!-- Oder deteil -->
        
        <tbody class="mx-auto mt-3">
          <v-slide-x-reverse-transition tag="tr" group leave-absolute >
            <tr v-for="item in OrderStore.OrderView" :key="item.productId">

              <!-- show img -->
              <td class="border-bt">
                <v-img
                  height="100"
                  width="100"
                  class="mb-3 rounded-xl mt-2 ml-2"
                  :src="`https://picsum.photos/500/300?image=${
                    item.amount + 10
                  }`"
                  cover
                ></v-img>
              </td>
              <!-- show product name and Price 1 per -->
              <td class="border-bt">
                <v-card
                  variant="text"
                  class="ml-3 mt-4"
                  max-width="100"
                  width="100"
                >
                  <p>{{ item.product?.name}}</p>
                  <v-card-subtitle
                    >Price : {{ item.product?.price }}
                  </v-card-subtitle>
                </v-card>
              </td>
              <!-- show unit -->
              <td class="border-bt">
                <v-chip  :closable="false"
                  >จำนวน {{ item.amount }} ชิ้น</v-chip
                >
              </td>
              <!-- buttom plus(+) and button minus(-) -->
              <td class="border-bt">
                <tbody>
                  <tr>
                    <v-btn
                      icon="mdi-plus-circle"
                      variant="text"
                      size="small"
                      color="brown-darken-4"
                      @Click="OrderStore.addOrderItem(item.product!)"
                    ></v-btn>
                  </tr>
                  <tr>
                    <v-btn
                      icon="mdi-minus-circle"
                      variant="text"
                      size="small"
                      color="brown-darken-4"
                      @Click="OrderStore.RemoveOrderItem(item)"
                    ></v-btn>
                  </tr>
                </tbody>
              </td>
              <!-- show total one product -->
              <td class="border-bt">
                <v-chip :closable="false">
                  รวม {{ item.total }} ฿
                </v-chip>
              </td>
              <!-- delete button  -->
              <td class="border-bt">
                <v-btn
                  icon="mdi-delete-circle"
                  class="ml-2"
                  variant="text"
                  color="deep-orange-accent-3"
                  @Click="OrderStore.btnRemoveOrderItem(item)"
                ></v-btn>
              </td>
            
            </tr>
          </v-slide-x-reverse-transition>
          </tbody
      ></v-row>
    </v-card>
    <!--bill deteil -->
    <v-container class="ml-3">
      <v-row justify="end"
        ><v-col class="pa-0 mb-1"
          ><v-chip class="font-weight-bold">รวม</v-chip></v-col
        ><v-col cols="4" class="pa-0 text-right mr-5"
          ><v-chip class="font-weight-bold">270.00 ฿</v-chip></v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0 mb-1"
          ><v-chip class="text-medium-emphasis">ส่วนลดสมาชิก</v-chip></v-col
        ><v-col cols="4" class="pa-0 text-right mr-5"
          ><v-chip class="text-medium-emphasis">5.00 ฿</v-chip></v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0 mb-1 border-bt-line text-medium-emphasis"
          ><v-chip class="text-medium-emphasis">ภาษี 7%</v-chip></v-col
        ><v-col cols="4" class="pa-0 mb-1 text-right mr-5 border-bt-line"
          ><v-chip class="text-medium-emphasis">19.25 ฿</v-chip></v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0 mb-1"
          ><v-chip class="text-medium-emphasis"
            >จำนวนเงินที่รับมา</v-chip
          ></v-col
        ><v-col cols="4" class="pa-0 text-right mr-5"
          ><v-chip class="text-medium-emphasis">300.00 ฿</v-chip></v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0"
          ><v-chip class="font-weight-bold">เงินทอน</v-chip></v-col
        ><v-col cols="4" class="pa-0 text-right mr-5"
          ><v-chip class="font-weight-bold">30.00 ฿</v-chip></v-col
        ></v-row
      >
      <!-- payment method -->
    </v-container>
    <v-chip
      class="mb-1 ml-1"
      variant="elevated"
      color="brown-darken-4"
      size="large"
      >วิธีการชำระเงิน</v-chip
    >
    <v-layout class="overflow-visible" style="height: 56px">
      <v-bottom-navigation
        v-model="value"
        bg-color="brown-darken-4"
        mode="shift"
        grow
        color="white"
      >
        <v-btn>
          <v-icon icon="mdi-cash-multiple"></v-icon>

          <span>Cash</span>
        </v-btn>

        <v-btn>
          <v-icon icon="mdi-credit-card"></v-icon>

          <span>Credit Card</span>
        </v-btn>
        <v-btn>
          <v-icon icon="mdi-qrcode"></v-icon>

          <span>QRcode</span>
        </v-btn>
      </v-bottom-navigation>
    </v-layout>
    <v-btn color="brown-darken-4 mt-3" height="50" width="100%" @Click="OrderStore.dialog = true"
      >Print Bill</v-btn
    >
    <POSPayDialog></POSPayDialog>
  </v-navigation-drawer>
  
</template>
<style scoped>
.border-bt {
  border-bottom: 2px solid rgb(62, 30, 21);
}
.border-bt-line {
  border-bottom: 2px dashed rgb(0, 0, 0);
}
</style>
