<script lang="ts" setup>
import { useProductStore } from '@/stores/Product';
import { onMounted } from 'vue';
import ProductDialog from './Dialog/ProductDialog.vue';



const ProductStore = useProductStore();

onMounted(async () => {
  await ProductStore.GetProducts();
});

</script>
 
<template >
  <ProductDialog></ProductDialog>
  <v-layout class="layout" >  
    <v-container>
      <v-row>
        <v-label class="text-h4">Stock Management</v-label>
        <v-divider class="border-opacity-100"></v-divider>
      </v-row>
    <v-row>
      <v-col></v-col>
      </v-row>
      <v-container>
        <v-row class="justify-center">
          <v-card
            width="100%"
            color="blue-grey-lighten-5"
            rounded="xl"
            class="pt-4 elevation-4"
            height="115vh"
          >
            <v-container>
              <v-card
                rounded="xl"
                class="mb-6 elevation-2"
                color="grey-lighten-4"
                height="50"
                ><v-row>
                  <v-col class="mt-2 ml-8"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >ID</v-chip
                    ></v-col
                  >
                  <v-col class="text-left pl-0 mt-2"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >Name</v-chip
                    ></v-col
                  >
                  <v-col cols="" class="mt-2 text-center"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >Price</v-chip
                    ></v-col
                  >
                  <v-col cols="" class="mt-2 text-right"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >Amount</v-chip
                    ></v-col
                  >
                  <v-col cols="3" class="mt-2 text-right"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >Option</v-chip
                    ></v-col
                  >
                  <v-col cols="2" class="d-flex"
                    ><v-btn variant="plain" icon="mdi-magnify"></v-btn
                    ><v-btn variant="plain" icon="mdi-plus" @click="ProductStore.dialog = true
          "></v-btn
                  ></v-col> 
                  </v-row
              ></v-card>
              <v-container class="h-screen overflow-y-auto pt-0 pb-0">
                <v-card
                  rounded="xl"
                  v-for="item of ProductStore.Products"
                  :key="item.id"
                  class="mb-6 elevation-2"
                  color="grey-lighten-4"
                  height="80"
                >
                  <v-row class="pl-0 pr-0 ml-0 mr-0">
                    <v-col cols="1" class="text-left"
                      > <v-chip class="mt-6 ml-2" color="indigo-darken-4"
                        >{{ item.id }}</v-chip
                      >
                    </v-col>
                    <v-col cols="3" class="text-left"
                      ><v-chip class="mt-6 ml-14" color="indigo-darken-4"
                        >{{ item.name }}</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class=""
                      ><v-chip
                        class="mt-6"
                        color="indigo-darken-4"
                        >{{ item.price}}</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class=""
                      ><v-chip
                        class="mt-6 ml-3"
                        color="indigo-darken-4"
                        >{{ item.amount}}</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class="text-right mr-0 pr-0"
                      ><v-btn
                        color="teal-darken-4 text-white"
                        class="mt-5"
                        variant="tonal"
                        width="95"
                        @click="ProductStore.editProduct(item)"
                        >Edit</v-btn
                      ></v-col
                    >
                    <v-col cols="2" class="text-left"
                      ><v-btn
                        variant="tonal"
                        width="95"
                        class="mt-5"
                        color="brown-darken-4"
                        @click="ProductStore.deleteProduct(item.id!)"
                      >
                        delete</v-btn
                      ></v-col
                    >
                  </v-row>
                </v-card>
              </v-container>
            </v-container>
          </v-card>
        </v-row>
      </v-container>
    </v-container>
  </v-layout>
</template>

<style>
.layout {
  width: 100vw;
  background-color: #fff1d7;
}
</style>