<script lang="ts" setup></script>
<template>
  <v-layout class="layout">
    <v-container class="justify-center text-center">
      <v-row>
        <v-label class="text-h4">จัดการผู้ใช้งานระบบ</v-label>
        <v-divider class="border-opacity-100"></v-divider>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field
            variant="underlined"
            label="ค้นหารายชื่อ"
            prepend-inner-icon="mdi-magnify"
          ></v-text-field>
        </v-col>

        <v-col class="text-left">
          <v-btn color="#1464f6" prepend-icon="mdi-magnify">ค้นหา</v-btn>
        </v-col>
        <v-col class="text-right">
          <v-btn color="#92d36e" prepend-icon="mdi-plus-circle-outline"
            >เพิ่มข้อมูล</v-btn
          >
        </v-col>
      </v-row>
      <v-container>
        <v-row class="justify-center">
          <v-card
            width="80%"
            color="blue-grey-lighten-5"
            rounded="xl"
            class="pt-4 elevation-4"
            height="115vh"
          >
            <v-container>
              <v-card
                rounded="xl"
                class="mb-6 elevation-2"
                color="grey-lighten-4"
                height="50"
                ><v-row>
                  <v-col class="mt-2 ml-4"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >Avatar</v-chip
                    ></v-col
                  >
                  <v-col class="text-left pl-0 mt-2"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >Name</v-chip
                    ></v-col
                  >
                  <v-col class="mt-2"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >Tel.</v-chip
                    ></v-col
                  >
                  <v-col cols="" class="mt-2 text-right"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >Role</v-chip
                    ></v-col
                  >
                  <v-col cols="3" class="mt-2 text-right"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >Option</v-chip
                    ></v-col
                  >
                  <v-col cols="2" class="d-flex"
                    ><v-btn variant="plain" icon="mdi-magnify"></v-btn
                    ><v-btn variant="plain" icon="mdi-plus"></v-btn
                  ></v-col> </v-row
              ></v-card>
              <v-container class="h-screen overflow-y-auto pt-0 pb-0">
                <v-card
                  rounded="xl"
                  v-for="i in 11"
                  :key="i"
                  class="mb-6 elevation-2"
                  color="grey-lighten-4"
                  height="80"
                >
                  <v-row class="pl-0 pr-0 ml-0 mr-0">
                    <v-col cols="1"
                      ><v-avatar
                        class="mt-2 ml-5 elevation-2"
                        :image="`https://picsum.photos/500/300?image=${
                          i * 6 + 10
                        }`"
                        color="info"
                        size="65"
                      ></v-avatar
                    ></v-col>
                    <v-col cols="3" class="text-left"
                      ><v-chip class="mt-6 ml-8" color="indigo-darken-4"
                        >Name {{ i }}</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class=""
                      ><v-chip
                        class="mt-6"
                        prepend-icon="mdi-vuetify"
                        color="indigo-darken-4"
                        >0000000000</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class=""
                      ><v-chip
                        class="mt-6"
                        prepend-icon="mdi-vuetify"
                        color="indigo-darken-4"
                        >Role</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class="text-right mr-0 pr-0"
                      ><v-btn
                        color="teal-darken-4 text-white"
                        class="mt-5"
                        variant="tonal"
                        width="95"
                        >Edit</v-btn
                      ></v-col
                    >
                    <v-col cols="2" class="text-left"
                      ><v-btn
                        variant="tonal"
                        width="95"
                        class="mt-5"
                        color="brown-darken-4"
                      >
                        delete</v-btn
                      ></v-col
                    >
                  </v-row>
                </v-card>
              </v-container>
            </v-container>
          </v-card>
        </v-row>
      </v-container>
      <!-- <v-row>
        <v-col cols="12">
          <v-table class="border">
            <thead style="background-color: #D68227; font-weight:bold;">
              <tr>
                <th>ลำดับ</th>
                <th>ชื่อพนักงาน</th>
                <th>เบอร์โทรศัพท์</th>
                <th>ตำแหน่ง</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>เฟย์ วิมุกติวรรณ</td>
                <td>0894561237</td>
                <td>เจ้าของร้าน</td>
                <td><v-btn class="mr-5" prepend-icon="mdi-pencil" color="#a8c6fa">แก้ไขข้อมูล</v-btn><v-btn
                    prepend-icon="mdi-delete-sweep" color="#ff8a84">ลบข้อมูล</v-btn></td>
              </tr>

            </tbody>
          </v-table>
        </v-col>
      </v-row> -->
    </v-container>
  </v-layout>
</template>

<style>
.layout {
  text-align: center;
  text-justify: center;
  width: 100vw;
  background-color: #fff1d7;
}
</style>
