<template>
  <v-navigation-drawer expand-on-hover rail>
    <v-list density="compact" nav>
      <v-list-item prepend-icon="mdi-home" title="Home" value="home" to="/"></v-list-item>
      <v-list-item prepend-icon="mdi-storefront-outline" title="POS" value="pos" to="/pos"></v-list-item>
      <v-list-item prepend-icon="mdi-account-multiple" title="Users" value="users" to="/user"></v-list-item>
      <v-list-item prepend-icon="mdi-account-group-outline" title="Customers" value="customers" to="/customer"></v-list-item>
      <v-list-item prepend-icon="mdi-food" title="Products" value="products" to="/product"></v-list-item>
      <v-list-item prepend-icon="mdi-exit-to-app" title="Logout" value="logout" to="/login"></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>